span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.history {
    color: grey;
}

.chess-game-bg {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.chess-board-width {
    width: 100%;
}

.btn-group-actions {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}

.btn-action {
    width: 33%;
}
