.chessroom-background {
  background-color: rgb(49, 46, 43);
  height: 100%;
}

.chessboard .chessboard-row {
  height: 80px;
  border: 0px solid black;
}

.chessboard .chessboard-row .chessboard-square {
  width: 80px;
}

.chessboard .chessboard-row .chessboard-header-row {
  color: lightgray;
  text-align: center;
  width: 30px;
}

.chessboard-header-column {
  color: lightgray;
  text-align: center;
  height: 30px;
}

.chessboard .chessboard-row .chessboard-square .piecediv {
  width: 100%;
  height: 100%;
}

.chessboard .pieceimg {
  width: 100%;
  height: 100%;
}

.chessboard .active-square {
  background-color: rgb(255, 255, 102) !important;
}

.chessboard tr:nth-child(2n) td:nth-child(2n + 1) {
  background: rgb(240, 217, 181);
}
.chessboard tr:nth-child(2n + 1) td:nth-child(2n) {
  background: rgb(240, 217, 181);
}

.chessboard tr:nth-child(2n) td:nth-child(2n) {
  background: rgb(181, 136, 99);
}

.chessboard tr:nth-child(2n + 1) td:nth-child(2n + 1) {
  background: rgb(181, 136, 99);
}
