.board {
  background-image: url("./../assets/img/board.png");
  display: block;
  min-width: 10px;
  min-height: 10px;
  max-width: 500px;
  max-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

#chessboard {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0px;
  width: 400px;
  height: 400px;
  min-width: 10px;
  min-height: 10px;
  max-width: 500px;
  max-height: 500px;
  display: block;
}

#chessboard tr td {
  width: 80px; /* 12.5% */
  height: 80px;
  border: 0px solid black;
  text-align: center;
}

.active-square {
  background-color: yellow !important;
}

#chessboard tr:nth-child(2n) td:nth-child(2n + 1) {
  background: rgb(240, 217, 181);
}
#chessboard tr:nth-child(2n + 1) td:nth-child(2n) {
  background: rgb(240, 217, 181);
}

#chessboard tr:nth-child(2n) td:nth-child(2n) {
  background: rgb(181, 136, 99);
}

#chessboard tr:nth-child(2n + 1) td:nth-child(2n + 1) {
  background: rgb(181, 136, 99);
}

.img.piece {
  display: none;
}

.img.piece[src] {
  /* display: block; */
  width: 100%;
  height: 100%;
}
